<div class='raw'>
  <div class="span6 greeting">
    <div class=" image">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQX-QE7iKAxceoIH0C31C3FeUu_HjFdwrGNp1dvZKNqEiEsrqvx">
    </div>
    <div class="greeting">
      <h1>Hello there! :)</h1>
      <p>My name is Njeri Chelimo. Others call me Martha Chumo. I'm a 19 year old autodidact, software developer, language-geek and aspiring teacher from Nairobi, Kenya. I blog on the following topics: Programming, learning and community-building. I <a href="https://github.com/NjeriChelimo">code</a>, and organize meetups.</p>
    </div>
  </div>
  <div class="connect span5 pull-right">
    <p>Connect with me on <a href="https://twitter.com/NjeriChelimo">tweeter</a>, or email me on <a href="mailto: martha.c.chumo@gmail.com?subject=Hello">martha.c.chumo@gmail.com</a></p>
    <div class='tweet'>
      <a class="twitter-timeline" href="https://twitter.com/NjeriChelimo" data-widget-id="342623886468325376">Tweets by @NjeriChelimo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
